@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Roboto:ital,wght@0,200;1,200&display=swap');
@import "tailwindcss";

.link {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
}

/* .navbar {
  background-color: transparent;
  position: absolute;
} */

span{
  font-family: "Bellefair", serif;
}

.heading {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.3px;
}

.description {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
}

.main-btn {
  font-family: "Bellefair", sans-serif;
}